.data-export-container {
  padding: 1rem;

  .result {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;

    pre {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}
