<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <h4>KYC Requests</h4>
      </div>
      
      <div class="col-md-6 text-right">
        <button nbButton status="success" (click)="applyAll()" class="apply-all-btn">
          <nb-icon icon="checkmark-circle"></nb-icon>
          Apply All
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (editConfirm)="onEdit($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>