<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <h4>Notification Management</h4>
      </div>
      <div class="col-md-6 text-right">
        <nb-select 
          placeholder="Filter by Type" 
          [(selected)]="selectedType" 
          (selectedChange)="onTypeChange($event)"
          [fullWidth]="false">
          <nb-option *ngFor="let type of notificationTypeOptions" [value]="type.value">
            {{ type.title }}
          </nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>