<nb-card>
  <nb-card-header>
    <p>change password</p>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="passwordForm" fullWidth>
      <div class="form-group row question">
        <label for="template" class="label col-sm-3">new password</label>
        <div class="col-sm-9">
          <input type="password" formControlName="new_password" placeholder="new password" nbInput fullWidth>
        </div>
      </div>
      <div class="form-group row question">
        <label for="template" class="label col-sm-3">repeat new password</label>
        <div class="col-sm-9">
          <input type="password" formControlName="confirm_password" placeholder="repeat new password" nbInput fullWidth>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button fullWidth nbButton status="primary" (click)="onSubmit()" [disabled]="!passwordForm.valid">
      submit
    </button>
  </nb-card-footer>
</nb-card>