.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

nb-card {
  margin-bottom: 2rem;
}

nb-card-header {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .col-md-6 {
      flex: 1;
      
      &:first-child {
        h4 {
          margin: 0;
          color: nb-theme(text-basic-color);
        }
      }
      
      &:last-child {
        text-align: right;
      }
    }
  }
}

nb-card-body {
  padding: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.text-right {
  text-align: right;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

ngx-smart-table {
  margin-top: 1rem;
}

nb-form-field {
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

.apply-all-btn {
  margin-right: 10px;
  width: auto;
}

@media (max-width: 768px) {
  .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .col-md-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}